footer {
    /* margin-top: 850px; */
    height: 70px;
    /* line-height: 60px; */
    text-align: center;
    background-color: black;
    color: #f5eded;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
}
body {
    /* background-color:rgb(5, 5, 87); */
    /* background-color: azure; */
    /* background-color: brown; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.one {
    /* text-emphasis-color: rgb(179, 98, 98); */
    /* margin-right: 80px; */
    /* background-color: white; */
    background-color: #acd0e9;
    font-size: larger;
}

.one a, .nav-link {
    /* background-color: */
    color: #e9ebec; 
    /* color: black; */
    cursor: pointer; /* Change cursor to pointer */
}

.one a:hover, .nav-link:hover {
    color: #bcd1e7; /*Color on hover
    /* color: black; */
}
.new_drop{
    /* background-color: #bcd1e7; */
    color: black;
}
.one .dropdown-item {
    color: black !important; /* Set dropdown items font color to black */
}

.one .dropdown-item:hover {
    color: #4c4d4e !important; /* Change color on hover if desired */
}


.container {
    position: relative;
    height: 100px;
    width: 100%;
}

.container1 {
    display: flex;
    width: 100%;
    height: 90px;
}

.container1 img {
    width: 80px;
    height: auto;
    float: left;
}

.container2 {
    width: 100%;
    height: 90px;
}

.container2 img {
    margin-top: -90px;
    width: 100px;
    height: auto;
    float: right;
}

.container3 {
    width: 100%;
    height: 90px;
    margin-top: -160px;
    display: flex;            /* Use Flexbox to center the image */
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    text-align: center;
}

.container3 img {
    margin-top: -160px;
    height: 70px;
    width: 300px;
}
.h1{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.one{
    text-align: left;
}
.two img{
    margin: 40px;
    height: 50px;
    width: 50px;
}
.two_b{
    margin-top: -80px;
    margin-left: 100px;
    font-size: 25px;
}
.two_c{
    margin-left: 100px;
}
.three img{
    margin: 40px;
    height: 40px;
    width: 40px;
}
.three_a{
    margin-top: -80px;
    margin-left: 100px;
    font-size: 25px;
}
.three_b{
    margin-left: 100px;
}

@media (max-width: 768px) {
    .video-banner {
        height: 300px;
    }
    .new_p{
        overflow-x: hidden;
        width: 100px;
        height: auto;

    }

    .card img {
        width: 100%;
        height: auto;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container .card {
        margin: 10px auto;
        width: 80%;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
    }
    
}
.main li{
    padding: 15px;
    font-size: larger;
}
a {
    color: black;
    text-decoration: none; /* Optional: removes underline */
  }

  a:hover {
    color: rgb(87, 85, 85); /* Optional: changes color on hover */
  }


  .card{
    background-color: rgb(226, 224, 224);
    
  }

.dropdown-submenu {
    position: relative;
}
